{% extends 'core/base.html' %}

{% block title %}Bienvenido al Workflow de Construcción{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Lista de Trabajadores</h1>
  <a href="{% url 'trabajador_create' %}" class="btn btn-primary mb-3">Crear Trabajador</a>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Run</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for trabajador in trabajadores %}
          <tr>
            <td>{{ trabajador.Run_trabajador }}</td>
            <td>{{ trabajador.nombres_trabajador }}</td>
            <td>{{ trabajador.ap_pat_trabajador }}</td>
            <td>{{ trabajador.ap_mat_trabajador }}</td>
            <td>
              <a href="{% url 'trabajador_update' trabajador.pk %}" class="btn btn-sm btn-warning">Editar</a>
              <a href="{% url 'trabajador_delete' trabajador.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
